#canvas {
    width: 800px;
    height: 600px;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(228, 224, 214, 1) 100%);
    border: 2px solid rgb(138, 138, 138);
}

.game-container {
    text-align: center;
    margin: 50px;
}